// semantic classes based on emmet css

.w100{
	width: 100%;
}

.w50{
	width: 50%;
}

.db{
	display: block;
}

.shadow{
	box-shadow:0px 2px 5px 0 rgba(0,0,0,.15);
}

.txal{
	text-align: left;
}

.pl{
	padding-left:30px;
}

.pt{
	padding-top: 30px;
}

.pt0{
	padding-top: 0;
}
